.footer-text-wrapper {
    text-align: center;
    background-color: $button-color;
    padding: 30px;
    font-size: 14px;
    line-height: 16px;
}

.footer-copyright,
.footer-creators {
    margin: 0;
}

.footer-creators {
    margin-top: 10px;
}