
body{
    margin: 0px;
    background-color: $primary-white-color;
    color: $primary-text-color;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.08em;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
   
}
img{
    display: block;
    width: 100%;
    
}


a{
    text-decoration: none;
}
.list{
    list-style: none;
}
button{
    border: none;
}

.main-container {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    @include for-size(tablet) {
      width: 768px;
      padding: 0 75px;
    }
    @include for-size(desktop) {
      width: 1024px;
      padding: 0 71px;
    }
  }

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

